body{
    /* background: #3D3C3A; */
    /* background: #36395a; */
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    margin-bottom: 30px;;
    }
    
.ProjectDiscription{
    text-align: center;
    color: #23263b;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 100;
    opacity: 0.8;

}

    .BodyDiv{
    /* background-color: #23242a; */
    background-color: #23263b;
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
padding: 50px;
vertical-align: middle;
opacity: 0.9;

    }

    
    #foo{
      margin-bottom: 40px;
      width: 40%;
      border-radius: 4%;
      outline: none;
    }
    #foo:focus{
    border-color: rgb(69, 94, 181);
    background: #fff;
    outline: none;
    }
    
    label{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    }
    
    input{
    margin-bottom: 40px;   
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;
    width: 200px;;
    display:inline-block;

    }
    
    
    input:hover {
    border-color: #ccc;
    }
    
    input:focus{
    border-color: rgb(69, 94, 181);
    background: #fff;
    outline: none;
    }
    
    .option{
     padding: 50px;
     width: 50px; 
    }
    
    label{
    color: white;
    opacity: 0.8;
    size: 30px;
    }

    select{
    background: #23263b;
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    }
    select:focus{
        background: red;
        background-color: #23263b;
        color: black;
    }
    select:checked{
background: rgb(69, 94, 181);
    }

    .PregnanciesDiv{
    background: red;
    border-radius: 10px;
    width:  50%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    form{
display:inline-block;
    }

    button{

        display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
        font-size: 21px;
        height: 30px;
        padding: 0px 15px;
        text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
        background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
        transition: all 0.5s ease 0s;
        width: 200px;
        height: 70px;
        margin-top: 30px;
        
    }
    button:hover{
        box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
        transition: all 0.1s ease 0s;
    }

    #resultText{
        color: white;
        width: 50%;
        border-radius: 5px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 2px;
        margin: 0 auto;
        margin-bottom: 10px;
        text-decoration: underline 3px cyan;
    }

    /* h4{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 100;
    font-size: small;
    } */
    
    
                  
    
    