<!DOCTYPE html>
<html>

<head>
    <title>Diabetes Classification</title>
    <link rel="stylesheet" href="statics/style.css">
    <script src="statics/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>

    <div class="AboutThisProject">
        <h3>Note: this project's result is not reliable due to the data that was used
            , it was not meant to seriously classify whether a person has diabetes or not
        </h3>
        <ul> Steps Were Taken For This Project
            <li>
                <ul>Data Cleaning:
                    <li>Missing Values</li>
                    <li>Data Imputing Using KNN For Missing Data</li>
                    <li>Unmatched Features Type</li>
                    <li>Data Inconsistency</li>
                    <li>Checking For Unwanted Outliers</li>
                </ul>
            </li>
            <li>Data Analysis</li>
            <li>Data Scaling For All The Independent Features</li>
            <li>Traning The Data Set Using 2 Approches:
                <ul>
                    <li>
                        Train Test Split
                    </li>
                    <li>
                        K-Fold Cross Validation, And GridSearchCV To Get The Best Parameters For Each Model
                    </li>
                </ul>
            </li>
            <li>
                Exporting The Best Model, And The Scaler Using Joblib
            </li>
        </ul>
    </div>
    <div class="ProjectDiscription">
        <h1 id='test'>Diabetes Classification</h1>
        <h4>Built By: Abdulaziz Alharbi</h4>
    </div>

    <div class="BodyDiv">

        <h2 id="resultText">Result</h2>

        <form>
            <label for="Pregnancies">Pregnancies</label><br>
            <input type="text" id="Pregnancies" placeholder="Pregnancies Count" name="Pregnancies"> <br>
            <label for="Glucose">Glucose</label><br>
            <input type="text" id="Glucose" name="Glucose" placeholder="40-200"> <br>
            <label for="BloodPressure">Blood Pressure</label><br>
            <input type="text" id="BloodPressure" name="BloodPressure" placeholder="24-122"> <br>
            <label for="SkinThickness">Skin Thickness</label><br>
            <input type="text" id="SkinThickness" name="SkinThickness" placeholder="7-99"> <br>
            <label for="Insulin">Insulin</label><br>
            <input type="text" id="Insulin" name="Insulin" placeholder="0-850"> <br>
            <label for="BMI">BMI</label><br>
            <input type="text" id="BMI" name="BMI" placeholder="1-70"> <br>
            <label for="DiabetesPedigreeFunction">Diabetes Pedigree Function</label><br>
            <input type="text" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" placeholder="0.078-2.5">
            <br>
            <label for="Age">Age</label><br>
            <input type="text" id="Age" name="Age" placeholder="21-150"> <br>
            <button type="button" onclick="submitButtonClicked()" class="submit">Submit</button>
        </form>
    </div>
</body>

</html>